
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: auto;
}

a, a:hover {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

/*header*/
#header {
    position: absolute;
    width: 100%;
    padding: 30px 0;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 6px;
    width: 525px;
    padding: 5px 10px;
    color: #eeeeee;
}

.search-icon {
    float: right;
    color: white;
}

.header-search {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.header-search:focus-visible {
    outline: none;
}

.logo {
    display: flex;
    align-items: center;
}

.end-menu {
    display: flex;
    align-items: center;
}
.sing-in{
    position: absolute;
    display: flex;
    align-items: flex-start;
    margin-left: -60px;
    border: none;
}

.header-burger-menu {
    background: red;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    position: relative;
}

.burger-line {width: 17px;height: 2px;background: white;display: flex;align-items: center;justify-content: center;margin: auto;transform: translateY(22px);}
.burger-line:before {content: "";position: absolute;width: 17px;height: 2px;background: white;bottom: 10px;}

.header-logo {
    width: 117px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    color: white;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 24px;
}

/*header*/

/*HERO*/
#hero {background: url("../img/Poster.png") no-repeat center/cover;min-height: 100vh;}

.hero {padding-top: 250px;}

.hero-title {position: static;width: 404px;height: 112px;font-weight: bold;font-size: 48px;line-height: 56px;color: white;margin-bottom: 45px;}

.container-titile {position: absolute;display: flex;justify-content: space-around;top: 375px;margin-bottom: 25px;}

.title-img {display: flex;}

.title-img2 {display: flex;position: absolute;left: 130px;}

.prosent {font-family: "Roboto Light", sans-serif;margin-left: 17px;color: white;}

.hero-subtitle {position: static;width: 302px;height: 72px;font-weight: 500;line-height: 18px;color: white;margin-bottom: 20px;}

.hero-btn {background: #BE123C;border-radius: 6px;padding: 10px 20px;color: #ffffff;margin-bottom: 20px;}

/*HERO*/

/*section*/
.movie .slick-next {font-size: 0;background: url("../img/Icon (1).svg") no-repeat center/35px; width: 48px;height: 30px;border: none;position: absolute;left: 1160px;top: 170px;}
.movie .slick-prev{font-size: 0;background: url("../img/Icon.svg") no-repeat center/35px;width: 48px;height: 30px;border: none;position: absolute;left: -60px;top: 170px;}
.movie .slick-dots{display: flex;justify-content: center;margin: auto;padding: 20px 0;}
.movie .slick-dots button{font-size: 0;width: 20px;height: 20px;border-radius: 50%;border: none;background: #BE123C;margin: 0 15px;}
.movie  .slick-dots .slick-active button{background: rgba(233, 243, 6, 0.93);}
.movie .slick-list .slick-track .slick-current{transition: 1s;transform: scale(1.1);}
.title-card{position: static;font-family: DM Sans,sans-serif;font-size: 36px;line-height: 47px;color: #000000;padding:  10px;}
#movie{display: flex;justify-content: space-between;flex-wrap: wrap;flex-direction: row;align-items: flex-start;padding: 0;position: absolute;width: 1240px;height: 513px;left: 98px;top: 761px;}
.movie-favvrite{position: absolute;margin-top: -365px;margin-left: 210px;background: rgba(12, 236, 237, 0.03);backdrop-filter: blur(2px);background: #295596;border-radius: 50%}
.movie-favvrite1{position: absolute;margin-top: -365px;margin-left: 210px;background: rgba(206, 206, 208, 0.5);backdrop-filter: blur(2px); background: #152f62;border-radius: 50%}
.modern{position: static;width: 114px;height: 16px;font-family: DM Sans, sans-serif;font-style: normal;font-weight: bold;font-size: 12px;line-height: 16px;color: #9CA3AF;margin: 12px 0;}
.movie-name{position: static;width: 250px;height: 46px;font-family: DM Sans,sans-serif;font-style: normal;font-weight: bold;font-size: 18px;line-height: 23px;color: #111827;margin: 12px 0;}
.movie-grade1{display: flex;flex-direction: row;justify-content: space-between;align-items: flex-start;position: static;width: 250px;height: 17px;margin: 2px 0;}
.movie-grade{display: flex;flex-direction: row;justify-content: space-between;align-items: flex-start;position: static;width: 250px;height: 17px;left: 0;margin-top: -25px;}
.movie-kinds{position: static;font-family: DM Sans,sans-serif;font-style: normal;font-weight: bold;font-size: 12px;line-height: 16px;color: #9CA3AF;margin: 12px 0;}
.movie-button{position: absolute;margin-top: -365px;margin-left: 10px;font-size: 12px;line-height: 16px;padding: 3px 8px;color: #000000;background: rgba(206, 206, 208, 0.5);backdrop-filter: blur(2px);border-radius:12px}
/*section*/
/*section-movie1*/
#movie1{display: flex;flex-wrap: wrap;flex-direction: row;align-items: flex-start;padding: 0;position: absolute;width: 1240px;height: 513px;left: 98px;top: 1402px;}
/*section*/
/*section-video*/
#video{padding: 0;position: absolute;width: 1140px;height: 513px;left: 150px;top: 2109px;}
.video .slick-next {font-size: 0;background: url("../img/Icon (1).svg") no-repeat center/35px; width: 48px;height: 30px;border: none;position: absolute;left: 1160px;top: 170px;}
.video .slick-prev{font-size: 0;background: url("../img/Icon.svg") no-repeat center/35px;width: 48px;height: 30px;border: none;position: absolute;left: -60px;top: 170px;}
.video .slick-dots{display: flex;justify-content: center;margin: auto;padding: 20px 0;}
.video .slick-dots button{font-size: 0;width: 20px;height: 20px;border-radius: 50%;border: none;background: #a82645;margin: 0 15px;}
.video  .slick-dots .slick-active button{background: rgba(233, 243, 6, 0.93);}
.video .slick-list .slick-track .slick-current{transition: 1s;transform: scale(1.1);}
/*section-video*/

/*section-movie2*/
#movie2{padding: 0;position: absolute;width: 940px;height: 235px;left: 128px;top: 2559px;}



/*section-movie2*/
#header1{padding: 0 ;position: absolute;display: flex;align-items: flex-end;top: 3090px;width: 1140px;height: 253px;}

.tenge{display: flex;justify-content: space-between;width: 350px;height: 100px; margin-left: 570px; }
.header-title{ display: flex;justify-content: space-between;width: 492px;height: 23px;margin-left: 509px;margin-top: -45px;}
.end-header{position: static;width: 466px;height: 23px;margin-left: 569px;margin-top: 12px;font-family: DM Sans,sans-serif;font-size: 18px;line-height: 23px;color: #6B7280;}
